/* .main_wrapper {
    border: 1px black solid;
} */

@import url('https://fonts.googleapis.com/css?family=Oswald:500');

* {
    box-sizing: border-box;
}

.main_wrapper {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

.main_nav {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: center;
    /* border: 1px black solid; */
    background: white;
    height: 60px;
    width: 100%;
}

.name {
    font-size: 21px;
    font-weight: bold;
}

.btn {
    text-decoration: none;
    color: black;
    font-family: 'Oswald', sans-serif;  
    cursor: pointer;  
}

.link {
    text-decoration: none;
}

.cat_title {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;
    font-size: 20px;
    width: 100%;
    height: 25px;
    cursor: pointer;
}

hr {
    margin: 0px;
    width: 100%;
}

.cat_sep {
    width: 95vw;
    margin-top: 3px;
}