.com_container {
  color: black;
  width: 100%; }

.com_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 90px; }
  .com_wrapper .outer_post1 {
    padding: 5px;
    margin: 5px;
    width: 95vw; }
  .com_wrapper .posts1 {
    margin-bottom: 10px;
    background: white;
    width: 90vw;
    cursor: pointer;
    color: black; }
  .com_wrapper .post1 {
    font-size: 16px;
    text-align: left;
    padding: 5px;
    color: black; }

.outer_comments .comment {
  font-size: 16px;
  text-align: left;
  padding: 5px;
  color: black;
  width: 90vw;
  word-wrap: break-word; }

.newPost {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 10px 0; }
  .newPost input {
    width: 95vw;
    height: 32px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #bfbfbf; }
  .newPost input:focus {
    outline-color: #3978b5; }
  .newPost .subButt {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 20vw;
    border-radius: 5px;
    background: #3878b5;
    color: white;
    text-align: center; }
